@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#msg-box3-2 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box1-4 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-4 .mbr-article {
  color: #fff;
}
#pricing-table1-8 SPAN {
  font-size: 48px;
}
#pricing-table1-8 .mbr-plan__details UL {
  font-family: 'Roboto', sans-serif;
  color: #9fc0d7;
}
