<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Questers World - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/Images/quester.png" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/mobirise/css/style.css">
    <link rel="stylesheet" href="/assets/mobirise-slider/style.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" style="text-decoration:none"><img src="/Images/quester.png" width="60" height="60" /> &nbsp;&nbsp;<font size="6" color="#B0E0E6" style="vertical-align:bottom">QW</font></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
    <section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-0" style="background-color: rgb(193, 193, 193);">
        <div class="mbr-section__container">
            <div>
                <ol class="carousel-indicators">
                    <li data-app-prevent-settings="" data-target="#slider-0" class="active" data-slide-to="0"></li>
                    <li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="1"></li>
                    <li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(/Images/peertopeer.png);">
                        <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">
                            @*<div class="mbr-overlay" style="background-color: rgb(201, 210, 99);"></div>*@
                            <div class=" container">

                                <div class="row">
                                    <div class=" col-md-8 col-md-offset-2">
                                        <div class="mbr-hero">
                                            <h1 class="mbr-hero__text">Questers World</h1>
                                            <p class="mbr-hero__subtext">We rely on trust.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(/Images/smilecommunity.png);">
                        <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">
                            @*<div class="mbr-overlay" style="background-color: rgb(201, 210, 99);"></div>*@
                            <div class=" container">

                                <div class="row">
                                    <div class=" col-md-8 col-md-offset-2">
                                        <div class="mbr-hero" style="color:black !important">
                                            <h1 class="mbr-hero__text">Questers World</h1>
                                            <p class="mbr-hero__subtext">Making Participants happy</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(/Images/smilecommunity.png);">
                        <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">
                            @*<div class="mbr-overlay" style="background-color: rgb(201, 210, 99);"></div>*@
                            <div class=" container">

                                <div class="row">
                                    <div class=" col-md-8 col-md-offset-2">
                                        <div class="mbr-hero" style="color:black !important">
                                            <h1 class="mbr-hero__text">Questers World</h1>
                                            <p class="mbr-hero__subtext">Questers World is a community providing mutual help</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-0">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-0">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <section class="engine"><a rel="external" href=""></a></section><section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-2" style="background-color:#394864 !important;">

        <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text" style="color:Green">ABOUT US</h3>

                </div>
            </div>
        </div>
        <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
            <div class="row">
                <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
                    <p style="color:white !important">We are a group of positive minded people, who believes that human race should be treated and handled with value, equality, trust and respect. It is our joy to see and hear people talk about prosperity. Welcome to our great family.</p>
                    <div class="mbr-header mbr-header--wysiwyg row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="mbr-header__text" style="color:Green">STEPS TO BECOME A PARTICIPANT AND GET 40% AFTER 14 DAYS</h3>
                        </div>
                    </div>
                    <br />
                    <p style="color:white !important">From the home page click on register on the top right corner of the page, fill all information and click register. Your information provided will be created and you will be required to go to your email account and click on the link sent to confirm your account before you can login to your personal office.</p>
                    <p style="color:white !important">Once you have successfully logged in ensure to provide your banking details. On the menu in your personal office click on add account, add your bank account details accurately.</p>
                    <p style="color:white !important">The next thing to do is to select a plan that is most suitable by clicking on the provide help button.</p>
                    <p style="color:white !important">When a plan is selected, you will be assigned to pay other members between 1-5 days.</p>
                    <p style="color:white !important">As soon as payment is confirmed, you are expected to click on the get help button on the date of release which is usually on the 14th day so as to receive. Other member(s) will be assigned to pay you 20% out of 40%, then when you re-commit, after all processes,(payment and confirmation) you will be matched to receive the remaining 20% held by the system within 1-5 days.. </p>
                    <p style="color:white !important">Note: New business/Quest starts the moment you re-commit. The process is endless. It all depends on us. </p>
                    <div class="mbr-header mbr-header--wysiwyg row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="mbr-header__text" style="color:Green">RECYCLING IS KEY TO SUSTAINABILITY</h3>
                        </div>
                    </div>
                    <br />
                    <p style="color:white !important">All members are expected to recycle once 20% payments of investments  are received, so as to keep the system active and also get access to the remaining 20% which can only be released when you re-commit. </p>
                    <div class="mbr-header mbr-header--wysiwyg row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="mbr-header__text" style="color:Green">THINGS TO NOTE</h3>
                        </div>
                    </div>
                    <br />
                    <p style="color:white !important">
                        The system is programmed in a way that participants will be paid 20% out of 40% (Amount invested). <br />
                        When you recycle, you are qualified to receive the outstanding  20% automatically within 1-5 days while your new provide help starts counting. <br />
                        Any dormant account after a short while will be suspended/deleted. <br />
                        We do not run a central account. It is the participants that pays each other out of trust and love. <br />
                        All complaints should be forwarded to support unit on your PO or drop a mail at info@questersworld.net. We attend to all issues within 72 hours.
                        Do not confirm anyone except you have verified payment. <br />
                        Subscription plans are according to the amount one is willing to pledge. There are six plans you can pick from. The first is N10000,N20000, N40000, N60000, N80000 and the last is N100000.

                    </p>
                    <p style="color:white !important">By registering on this platform you have agreed to the Terms and Conditions binding all participants of this platform.</p>
                    @*<p>
                            This is a community of trusted people that are ready to support each other. It is not a platform where hit and run people are welcome. Sustainability is our watch word.

                            The aim is to make 30% on your investment. We have an active support group that are always ready to attend to our complaints. NOTE PLEASE...Smile2smile do not run a <b>central account</b>, it is

                            the participants that pays themselves out of <b>TRUST</b> and <b>LOVE</b>. What we do from the back end is to ensure that every participant is carried along. Smile2smile only entertain positive

                            minded people, people that are ready to sacrifice once they are called upon.
                        </p>*@
                    <p style="color:white !important">
                        We Rely On Trust
                    </p>

                </div>
            </div>
        </div>

    </section>
    <section class="mbr-section mbr-section--relative mbr-section--short-paddings" id="msg-box1-4" style="background-color: rgb(60, 60, 60);">

        <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="row">
                <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                    <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__left col-sm-8">
                        <div class="mbr-section__container mbr-section__container--middle">
                            <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">We rely on trust.</h3>
                            </div>
                        </div>
                        <div class="mbr-section__container">
                            <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>Participate with the money you can afford and don't provide help at the amount you cannot pay.</p></div>
                        </div>
                    </div>
                    <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__right col-sm-4">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="testimonials1-3" style="background-color: rgb(255, 255, 255);">
        <div>

            <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="mbr-section__header">HOW TO JOIN AND PARTICIPATE</h2>
                        <ul class="mbr-reviews mbr-reviews--wysiwyg row">
                            <li class="mbr-reviews__item col-xs-12 col-sm-6 col-md-4">
                                <div class="mbr-reviews__text"><p class="mbr-reviews__p">From the Home page Click on Register on the top right corner of the page, fill all informations and click Register. &nbsp;Your information will be created and you will be required to go to your email account and click on the link sent to confirm your account before you can login on this platform.</p></div>
                                <div class="mbr-reviews__author mbr-reviews__author--short">
                                    <div class="mbr-reviews__author-name"></div>
                                    <div class="mbr-reviews__author-bio"></div>
                                </div>
                            </li>
                            <li class="mbr-reviews__item col-xs-12 col-sm-6 col-md-4">
                                <div class="mbr-reviews__text">
                                    <p class="mbr-reviews__p">
                                        To Provide Help - Login with your credentials and Add your Account Information by clicking My Account and Add.
                                        <br />Click on Provide Help and select appropriate plans to Provide help. The Request will be created and queued for matching. Once you are matched you will see it.
                                    </p>
                                </div>
                                <div class="mbr-reviews__author mbr-reviews__author--short">
                                    <div class="mbr-reviews__author-name"></div>
                                    <div class="mbr-reviews__author-bio"></div>
                                </div>
                            </li>
                            <li class="mbr-reviews__item col-xs-12 col-sm-6 col-md-4">
                                <div class="mbr-reviews__text">
                                    <p class="mbr-reviews__p">By Registering on this platform you have agreed to the Terms and Conditions binding all Participants of this platform.</p>
                                    <p> For more information contact info@questersworld.net or send a mail to admin@questersworld.net</p>
                                </div>
                                <div class="mbr-reviews__author mbr-reviews__author--short">
                                    <div class="mbr-reviews__author-name"></div>
                                    <div class="mbr-reviews__author-bio"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="pricing-table1-8" style="background-color: rgb(240, 240, 240);">

        <div class="mbr-section__container mbr-section__container--std-top-padding container" style="padding-top: 93px; margin-bottom: 0px;">
            <div class="row">
                <div class="mbr-plan col-xs-12 mbr-plan--first col-lg-2-4 col-md-4 col-sm-6">
                    <div class="mbr-plan__box">
                        <div class="mbr-plan__header">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">STANDARD</h3>
                            </div>
                        </div>
                        <div class="mbr-plan__number">
                            <div class="mbr-number mbr-number--price">
                                <div class="mbr-number__num">
                                    <div class="mbr-number__group">
                                        <sup class="mbr-number__left">N</sup><span class="mbr-number__value">20,000</span>
                                    </div>
                                </div>
                                <div class="mbr-number__caption">Bi-monthly&nbsp;</div>
                            </div>
                        </div>
                        <div class="mbr-plan__details"><ul><li><strong>Donation: N 20,000</strong></li><li><strong>&nbsp;Interest: 30 %&nbsp; &nbsp;&nbsp;</strong></li><li><strong>&nbsp;Interest Amount: N 6,000</strong></li><li><strong>Total Amount: N 26,000</strong></li></ul></div>

                    </div>
                </div>
                <div class="mbr-plan col-xs-12 mbr-plan--success col-lg-2-4 col-md-4 col-sm-6">
                    <div class="mbr-plan__box">
                        <div class="mbr-plan__header">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">BUSINESS</h3>
                            </div>
                        </div>
                        <div class="mbr-plan__number">
                            <div class="mbr-number mbr-number--price">
                                <div class="mbr-number__num">
                                    <div class="mbr-number__group">
                                        <sup class="mbr-number__left">N</sup><span class="mbr-number__value">40,000</span>
                                    </div>
                                </div>
                                <div class="mbr-number__caption">Bi-monthly</div>
                            </div>
                        </div>
                        <div class="mbr-plan__details"><ul><li><strong>Donation: N 40,000</strong></li><li><strong>&nbsp;Interest: 30 % &nbsp; &nbsp;</strong></li><li><strong>&nbsp;Interest Amount: N 12,000</strong></li><li><strong>Total Amount: N 52,000</strong></li></ul></div>

                    </div>
                </div>
                <div class="mbr-plan col-xs-12 mbr-plan--danger mbr-plan--favorite col-lg-2-4 col-md-4 col-sm-6">
                    <div class="mbr-plan__box">
                        <div class="mbr-plan__header">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">PREMIUM</h3>
                            </div>
                        </div>
                        <div class="mbr-plan__number">
                            <div class="mbr-number mbr-number--price">
                                <div class="mbr-number__num">
                                    <div class="mbr-number__group">
                                        <sup class="mbr-number__left">N</sup><span class="mbr-number__value">60,000</span>
                                    </div>
                                </div>
                                <div class="mbr-number__caption">Bi-monthly</div>
                            </div>
                        </div>
                        <div class="mbr-plan__details"><ul><li><strong>Donation: N 60,000</strong></li><li><strong>&nbsp;Interest: 30 % &nbsp; &nbsp;</strong></li><li><strong>&nbsp;Interest Amount: N 18,000</strong></li><li><strong>Total Amount: N 78,000</strong></li></ul></div>

                    </div>
                </div>
                <div class="mbr-plan col-xs-12 mbr-plan--warning col-lg-2-4 col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-2">
                    <div class="mbr-plan__box">
                        <div class="mbr-plan__header">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">ULTIMATE</h3>
                            </div>
                        </div>
                        <div class="mbr-plan__number">
                            <div class="mbr-number mbr-number--price">
                                <div class="mbr-number__num">
                                    <div class="mbr-number__group">
                                        <sup class="mbr-number__left">N</sup><span class="mbr-number__value">80,000</span>
                                    </div>
                                </div>
                                <div class="mbr-number__caption">Bi-monthly</div>
                            </div>
                        </div>
                        <div class="mbr-plan__details"><ul><li><strong>Donation: N 80,000</strong></li><li><strong>&nbsp;Interest: 30 % &nbsp; &nbsp;</strong></li><li><strong>&nbsp;Interest Amount: N 24,000</strong></li><li><strong>Total Amount: N 104,000</strong></li></ul></div>

                    </div>
                </div>
                <div class="mbr-plan col-xs-12 mbr-plan--info mbr-plan--last col-lg-2-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
                    <div class="mbr-plan__box">
                        <div class="mbr-plan__header">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">SUPER</h3>
                            </div>
                        </div>
                        <div class="mbr-plan__number">
                            <div class="mbr-number mbr-number--price">
                                <div class="mbr-number__num">
                                    <div class="mbr-number__group">
                                        <sup class="mbr-number__left">N</sup><span class="mbr-number__value">100,000</span>
                                    </div>
                                </div>
                                <div class="mbr-number__caption">Bi-monthly</div>
                            </div>
                        </div>
                        <div class="mbr-plan__details"><ul><li><strong>Donation: N 100,000</strong></li><li><strong>&nbsp;Interest: 30 % &nbsp; &nbsp;</strong></li><li><strong>&nbsp;Interest Amount: N 30,000</strong></li><li><strong>Total Amount: N 130,000</strong></li></ul></div>

                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-7" style="background-color: rgb(68, 68, 68);">

        <div class="mbr-section__container container">
            <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 36.900000000000006px; padding-bottom: 36.900000000000006px;">
                <div class="col-sm-12">
                    <p class="mbr-footer__copyright">&copy; @DateTime.Now.Year - Questersworld.net</p>

                </div>
            </div>
        </div>
    </footer>

    <script src="/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/smooth-scroll/SmoothScroll.js"></script>
    <script src="/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
    <script src="/assets/mobirise/js/script.js"></script>
</body>
</html>
